<li id="{{this.id}}" class="list-group-item"><span>{{this.id}}- </span>
    <span><strong>{{this.burger_name}}</strong></span>
    <button data-id="{{this.id}}" content="{{this.burger_name}}" type="button" class="btn btn-dark devour_it">Devoure it</button>
</li>